.container-modules {
  list-style: none; }

.module {
  display: inline-block;
  width: 20em;
  min-height: 608px;
  transition: .5s all; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module {
      width: 100%;
      padding: 1em 2em;
      min-height: 0;
      max-height: initial; } }

.showtext {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: -1px;
  padding: 1em 1.5em;
  border-radius: 3px;
  box-shadow: 1px 2px 12px rgba(33, 56, 69, 0.5);
  min-width: 12em; }
  .showtext:hover {
    background-color: rgba(0, 0, 0, 0.55); }
  @media (min-width: 654px) and (max-width: 975px) {
    .showtext {
      display: none; } }

.is-text-hidden .module {
  max-height: 416px;
  min-height: 416px; }
  @media (min-width: 654px) and (max-width: 975px) {
    .is-text-hidden .module {
      min-height: initial; } }

.is-text-shown .module {
  max-height: 608px; }

.module_footer .more-link {
  background-color: #6b8594; }

.module_inner {
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 18em;
  min-height: 36em;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: .5s all; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_inner {
      flex-direction: row;
      min-height: 0;
      max-height: 8em;
      margin: 0;
      width: 100%;
      background-color: #fff; } }

@media (min-width: 654px) and (max-width: 975px) {
  .no-flexbox .module_inner {
    text-align: left; } }

.is-text-hidden .module_inner {
  min-height: 0;
  max-height: 398px;
  background-image: linear-gradient(to bottom, #fff, #fff 20%, #6b8594 0, #6b8594); }
  @media (min-width: 654px) and (max-width: 975px) {
    .is-text-hidden .module_inner {
      max-height: 8em;
      background-image: none; } }

.is-text-shown .module_inner {
  min-height: 36em;
  max-height: 36em; }
  @media (min-width: 654px) and (max-width: 975px) {
    .is-text-shown .module_inner {
      min-height: initial;
      max-height: initial; } }

.no-flexbox .is-text-shown .module_inner {
  min-height: 0; }

.module_media {
  position: relative; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_media {
      flex: 0 0 auto;
      flex-basis: 128px; } }

.is-text-hidden .module_media {
  order: 2; }
  @media (min-width: 654px) and (max-width: 975px) {
    .is-text-hidden .module_media {
      order: initial; } }

@media (min-width: 654px) and (max-width: 975px) {
  .no-flexbox .module_media {
    display: inline-block;
    width: 128px;
    height: 128px; } }

@media (min-width: 654px) and (max-width: 975px) {
  .module_media,
  .module_image {
    height: 128px; } }

.module_image {
  display: block;
  min-width: 288px;
  min-height: 288px;
  width: 100%;
  background-color: #c1c1be; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_image {
      min-width: 0;
      min-height: 0;
      object-fit: cover;
      height: 100%; } }

.module_media:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  box-shadow: inset 0 6px 12px 0 rgba(14, 29, 37, 0.5); }

.module_content {
  text-align: left;
  padding: 1em 1.5em;
  order: 1;
  border-top: 1px solid #fff; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_content {
      flex: 0 1 auto;
      flex-basis: 100%;
      max-height: 128px;
      overflow: hidden;
      order: initial; } }

.module_inner,
.module_content {
  background-color: #eef7fb; }

.is-text-hidden .module_content {
  order: 1;
  background-image: linear-gradient(to bottom, #e9f2f7, #c4dbe9 0.125em, #a6c9dd);
  flex-basis: 4em; }
  @media (min-width: 654px) and (max-width: 975px) {
    .is-text-hidden .module_content {
      order: initial;
      background-color: #eef7fb;
      background-image: none;
      flex-basis: 100%; } }

.module,
.module_inner {
  border-top-right-radius: 1.125em 1em;
  border-top-left-radius: 1.125em 1em; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module,
    .module_inner {
      border-top-right-radius: 1em 1.125em;
      border-top-left-radius: 1.25em 1em;
      border-bottom-left-radius: 1.25em 1em; } }

.is-text-shown .module_media,
.is-text-shown .module_media a,
.is-text-shown .module_image {
  border-top-right-radius: 1.125em 1em;
  border-top-left-radius: 1.125em 1em; }
  @media (min-width: 654px) and (max-width: 975px) {
    .is-text-shown .module_media,
    .is-text-shown .module_media a,
    .is-text-shown .module_image {
      border-top-right-radius: 0; } }

@media (min-width: 654px) and (max-width: 975px) {
  .is-text-hidden .module,
  .is-text-hidden .module_inner,
  .is-text-hidden .module_footer {
    border-bottom-right-radius: 1em 1.125em; } }

@media (min-width: 654px) and (max-width: 975px) {
  .no-flexbox .module_content {
    display: inline-block;
    max-width: 68%;
    padding-right: 1.5em;
    padding-left: 1.5em; } }

.module_content h3 {
  font-size: 1.25em;
  line-height: 1;
  text-align: center; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_content h3 {
      text-align: left; } }

.wf-active .module_content h3 {
  font-weight: 700;
  font-size: 1.5em;
  padding-top: .25em; }
  @media (min-width: 654px) and (max-width: 975px) {
    .wf-active .module_content h3 {
      padding-top: 0; } }

.module_content p {
  font-size: .875em;
  padding: .5em 0; }

@media (min-width: 654px) and (max-width: 975px) {
  .module_content p[style] {
    display: block !important; } }

.module_content > p:first-of-type {
  margin-top: .5em; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_content > p:first-of-type {
      margin-top: 0; } }

.module,
.module_inner,
.module_footer,
.module_footer .more-link {
  border-bottom-left-radius: 1.125em 1em;
  border-bottom-right-radius: 1.125em 1em; }

@media (min-width: 654px) and (max-width: 975px) {
  .module_footer .more-link {
    border-bottom-left-radius: 0; } }

.module_footer {
  margin-top: auto;
  order: 3; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_footer {
      margin-top: 0;
      flex: 0 0 auto;
      flex-basis: 32px;
      margin-left: auto; } }

.module_footer .read-more {
  font-size: .75em; }

.wf-active .module_footer .read-more {
  font-size: 1em; }

.module_footer .more-link {
  text-decoration: none;
  color: white;
  display: block;
  padding-top: .25em;
  padding-bottom: .25em;
  letter-spacing: 1px;
  word-spacing: -1px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E"), linear-gradient(to bottom, #6b8594, #6b8594 93%, #607885 98%, #566a76);
  background-position: 66% center, 0 0;
  background-repeat: no-repeat; }
  .module_footer .more-link:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E");
    background-color: #607885; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_footer .more-link {
      padding: 0;
      min-height: 128px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E");
      background-position: center center; } }

.is-text-hidden .module_footer .more-link {
  background-position: 66% center, 0 0; }
  @media (min-width: 654px) and (max-width: 975px) {
    .is-text-hidden .module_footer .more-link {
      background-position: center center; } }

.no-flexbox .module_footer .more-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
  @media (min-width: 654px) and (max-width: 975px) {
    .no-flexbox .module_footer .more-link {
      width: 3em;
      top: 0;
      left: auto;
      text-align: right;
      padding-right: 1em; } }

.module_footer .more-link_text {
  display: inline; }
  @media (min-width: 654px) and (max-width: 975px) {
    .module_footer .more-link_text {
      display: none; } }

.module a {
  color: #265773;
  text-decoration: none;
  transition: .3s all; }

.module_content > p a {
  color: #2288c3;
  display: inline-block;
  box-shadow: inset 0 -3px 0 rgba(168, 214, 240, 0); }

.module_content > p a:hover {
  color: #1f79ad;
  box-shadow: inset 0 -3px 0 #a8d6f0; }

.module_content > h3 a:hover {
  color: #166b9c; }

@supports (display: grid) {
  .container-modules {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); }
    @media (min-width: 654px) and (max-width: 975px) {
      .container-modules {
        display: block;
        grid-template-columns: initial; } }
  .module {
    width: auto; }
    @media (min-width: 654px) and (max-width: 975px) {
      .module {
        width: 100%; } } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  font: 100%/1.5 BlinkMacSystemFont, -apple-system, "Segoe UI", Tahoma, sans-serif;
  box-sizing: border-box;
  color: #141b1f; }

.wf-active body {
  font-family: 'PT Sans Narrow', BlinkMacSystemFont, -apple-system, "Segoe UI", Tahoma, sans-serif; }

img {
  max-width: 100%; }

a {
  transition: all .3s; }

.page {
  min-height: 100vh;
  text-align: center; }

.page-header {
  min-height: 96px;
  text-align: left; }
  @media (min-width: 654px) {
    .page-header {
      text-align: center;
      background-image: url(../img/svg/header-logo_648x96.min.svg), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwaW5zdHJpcGUiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgyMSkiPjxsaW5lIHgxPSIyIiB5PSIwIiB4Mj0iMiIgeTI9IjQiIHN0cm9rZT0iIzliOWI5NyIgc3Ryb2tlLXdpZHRoPSIyIiAvPjwvcGF0dGVybj48L2RlZnM+PHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwaW5zdHJpcGUpIiAvPjwvc3ZnPg==");
      background-repeat: no-repeat, repeat;
      background-position: left center, 0 0; } }

.page-header h1 {
  font-size: 2em;
  padding-top: .5em;
  padding-left: 1em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400; }
  @media (min-width: 654px) {
    .page-header h1 {
      font: 0/0 n;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap; } }

.page-header,
.page-footer {
  background-color: #686864; }

main {
  background: #cde6f4 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128px' height='128px' viewBox='0 0 128 128'%3E%3Crect fill='rgb(255,255,255)' opacity='0.5' width='64' height='64'/%3E%3Crect fill='rgb(255,255,255)' opacity='0.5' width='64' height='64' x='64' y='64'/%3E%3Cpath fill='rgb(128,208,255)' d='M128,1V0H1H0v1v127h1V97h31v31h1V97h31v31h1V97h31v31h1V97h31v-1H97V65h31v-1H97V33h31v-1H97V1H128z M32,96H1V65h31V96z M32,64H1V33h31V64z M32,32H1V1h31V32z M64,96H33V65h31V96z M64,64H33V33h31V64z M64,32H33V1h31V32z M96,96H65 V65h31V96z M96,64H65V33h31V64z M96,32H65V1h31V32z'/%3E%3C/svg%3E") 0 32px;
  min-height: calc(100vh - 144px);
  padding: 1em 0; }

.page-footer {
  text-align: center;
  min-height: 48px;
  padding-top: .5em; }

.page-footer .colophon {
  list-style: none;
  display: flex;
  justify-content: center; }

.page-footer .colophon li:after {
  content: "\B7";
  color: #ffee33;
  text-shadow: 1px 1px 0 rgba(9, 30, 42, 0.6); }

.page-footer .colophon li:last-of-type:after {
  content: ""; }

.page-footer .colophon li a {
  padding: .25em;
  text-decoration: none;
  color: #fff9b3;
  letter-spacing: .5px;
  text-shadow: 1px 1px 0 rgba(9, 30, 42, 0.6);
  box-shadow: inset 0 -3px 0 rgba(219, 201, 0, 0); }
  .page-footer .colophon li a:hover {
    color: #ffeb0f;
    box-shadow: inset 0 -3px 0 #dbc900; }

@supports (font-variant-caps: small-caps) {
  .small-caps {
    text-transform: lowercase;
    font-variant-caps: small-caps; } }
