@import
"../../../bitbucket/abdh-redesign/src/colorscheme/assets/sass/palette/monochrome-palette-24-hues.scss",
"../../../bitbucket/abdh-redesign/src/colorscheme/assets/sass/palette/master-palette-24-hues.scss";

.container-modules {
  list-style: none;
}

.module {

  display: inline-block;
  width: 20em; // 320px
  min-height: 608px;
  transition: .5s all;

  @media (min-width: 654px) and (max-width: 975px) {
    // display: flex;
    width: 100%;
    padding: 1em 2em;
    min-height: 0;
    max-height: initial;
  }
}

// toggle-button
.showtext {
  // position: fixed;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;
  // background-color: hsla(0, 0%, 0%,.65);
  background-color: $o6;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: -1px;
  padding: 1em 1.5em;
  border-radius: 3px;
  box-shadow: 1px 2px 4px $o3;
  min-width: 12em;

  &:hover {
    // background-color: hsla(0, 0%, 0%,.55);
    background-color: $o5;
    box-shadow: 1px 2px 6px $O6;
  }

  @media (max-width: 654px) {
    // main element is now set to relative ISO default body
    top:0;left:0;right:0;
    min-height: 3rem;
    font-size: 1.125rem;
  }
  @media (min-width: 654px) and (max-width: 975px) {
    display: none;
  }
}

.is-text-hidden .module {
  max-height: 416px;
  min-height: 416px;

  @media (min-width: 654px) and (max-width: 975px) {
    min-height: initial;
  }

}

.is-text-shown .module {
  max-height: 608px;
}

.module_footer .more-link {
  // background-color: hsl(202, 16%, 50%);
  background-color: $o12;
}

.module_inner {
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 18em; // 288px;
  min-height: 36em; // 576px
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: .5s all;
  box-shadow: 4px 4px 24px rgba($o0,.75);

  @media (min-width: 654px) and (max-width: 975px) {
    flex-direction: row;
    min-height: 0;
    max-height: 8em; //128px;
    margin: 0;
    width: 100%;
    background-color: #fff;
  }

}

.no-flexbox .module_inner {

  @media (min-width: 654px) and (max-width: 975px) {
    text-align: left;
  }
}


.is-text-hidden .module_inner {
  min-height: 0;
  max-height: 398px;
  // background-image: linear-gradient(to bottom, #fff, #fff 20%, hsl(202, 16%, 50%) 0, hsl(202, 16%, 50%));
  background-image: linear-gradient(to bottom, #fff, #fff 20%, $o12 0, $o12);

  @media (min-width: 654px) and (max-width: 975px) {
    max-height: 8em;
    background-image: none;
  }

}

.is-text-shown .module_inner {
  min-height: auto;
  // max-height: 36em;
  // @media (min-width: 654px) and (max-width: 975px) {
  //   min-height: initial;
  //   max-height: initial;
  // }
}

.no-flexbox .is-text-shown .module_inner {
  min-height: 0;
}

.module_media {
  position: relative;

  @media (min-width: 654px) and (max-width: 975px) {
    flex: 0 0 auto;
    flex-basis: 128px;
  }
}

.is-text-hidden .module_media {
  // position: relative;
  order: 2;

  @media (min-width: 654px) and (max-width: 975px) {
    order: initial;
  }
}

.no-flexbox .module_media {
  @media (min-width: 654px) and (max-width: 975px) {
    display: inline-block;
    width:  128px;
    height: 128px;
  }
}


.module_media,
.module_image {

  @media (min-width: 654px) and (max-width: 975px) {
    height: 128px;
  }

}

.module_image {
  display: block;
  min-width: 288px;
  min-height: 288px;
  width: 100%;
  // background-color: hsl(60, 2%, 75%);
  background-color: $o18;

  @media (min-width: 654px) and (max-width: 975px) {
    min-width: 0;
    min-height: 0;
    object-fit: cover;
    height: 100%;
  }

}

.module_media:after {
  content: "";
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  z-index: 0;
  // box-shadow: inset 0 6px 12px 0 hsla(202, 45%, 10%, 0.5);
  box-shadow: inset 0 6px 12px 0 rgba($o3, 0.5);
}

.module_content {
  text-align: left;
  padding: 1em 1.5em;
  order: 1;
  // border-top: 1px solid #fff;
  // border-top: 1px solid $O23;

  @media (min-width: 654px) and (max-width: 975px) {
    // width: 100%;
    // border: none;
    flex: 0 1 auto;
    flex-basis: 100%;
    max-height: 128px;
    overflow: hidden;
    order: initial;
  }

}

.module_inner,
.module_content {
  // background-color: hsl(202, 64%, 96%);
  background-color: $o21;
}

.is-text-hidden .module_content {
  order: 1;
  // background-image: linear-gradient(to bottom, hsl(202, 45%, 94%), hsl(202, 45%, 84%) .125em, hsl(202, 45%, 76%));
  // background-image: linear-gradient(to bottom, $O22, $O21 .125em, $O19);
  background-color: $o12;
  flex-basis: 4em;

  @media (min-width: 654px) and (max-width: 975px) {
    order: initial;
    // background-color: hsl(202, 64%, 96%);
    background-color: $o21;
    background-image: none;
    flex-basis: 100%;
  }

}

.module,
.module_inner {
  border-top-right-radius: 2rem 2.25rem;
  border-top-left-radius:  2rem 2.25rem;

  @media (min-width: 654px) and (max-width: 975px) {
    border-top-right-radius: 1em 1.125em;
    border-top-left-radius: 1.25em 1em;
    border-bottom-left-radius: 1.25em 1em;
  }

}

.is-text-shown .module_media,
.is-text-shown .module_media a,
.is-text-shown .module_image {
  border-top-right-radius: 1.125em 1em;
  border-top-left-radius: 1.125em 1em;

  @media (min-width: 654px) and (max-width: 975px) {
    border-top-right-radius: 0;
  }

}

.is-text-hidden .module,
.is-text-hidden .module_inner,
.is-text-hidden .module_footer {

  @media (min-width: 654px) and (max-width: 975px) {
    border-bottom-right-radius: 1em 1.125em;
  }

}

.no-flexbox .module_content {
  @media (min-width: 654px) and (max-width: 975px) {
    display: inline-block;
    max-width: 68%;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

.module_content h3 {
  font-size: 1.25em;
  line-height: 1;
  // text-align: center;

  // @media (min-width: 654px) and (max-width: 975px) {
  //   text-align: left;
  // }
}

.wf-active .module_content h3 {
  // font-weight: 700;
  font-weight: 400;
  font-size: 1.5em;
  padding-top: .25em;
  letter-spacing: 0.04em;

  @media (min-width: 654px) and (max-width: 975px) {
    padding-top: 0;
  }
}

.module_content p {
  font-size: .875em;
  padding: .5em 0;
}

.module_content p[style] {
  @media (min-width: 654px) and (max-width: 975px) {
    display: block !important;
  }
}

.module_content > p:first-of-type {
  margin-top: .5em;

  @media (min-width: 654px) and (max-width: 975px) {
    margin-top: 0;
  }
}

.module,
.module_inner,
.module_footer,
.module_footer .more-link {
  border-bottom-left-radius: 1.125em 1em;
  border-bottom-right-radius: 1.125em 1em;
}

.module_footer .more-link {

  @media (min-width: 654px) and (max-width: 975px) {
    border-bottom-left-radius: 0;
  }

}

.module_footer {
  margin-top: auto; // always at the bottom
  order: 3;

  @media (min-width: 654px) and (max-width: 975px) {
    margin-top: 0;
    flex: 0 0 auto;
    flex-basis: 32px;
    margin-left: auto;
  }
}

.module_footer .read-more {
  font-size: .75em;
}

.wf-active .module_footer .read-more {
  font-size: 1em;
}

.module_footer .more-link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-top: .25em;
  padding-bottom: .25em;
  letter-spacing: 1px;
  word-spacing: -1px;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E"), linear-gradient(to bottom, hsl(202, 16%, 50%), hsl(202, 16%, 50%) 93%, hsl(202, 16%, 45%) 98%, hsl(202, 16%, 40%));
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E"), linear-gradient(to bottom, $o12, 16%, 50%, $o12 93%, $o11 98%, $o10);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E");
  // background-position: 66% center, 0 0;
  background-position: 66% center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E");
    // background-color: hsl(202, 16%, 45%);
    background-color: $o11;
  }

  @media (min-width: 654px) and (max-width: 975px) {
    padding: 0;
    min-height: 128px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E");
    background-position: center center;
  }
}

.is-text-hidden .module_footer .more-link {
  background-position: 66% center, 0 0;

  @media (min-width: 654px) and (max-width: 975px) {
    background-position: center center;
  }
}


.no-flexbox .module_footer .more-link {
  position: absolute;
  left:0;right:0;bottom:0;

  @media (min-width: 654px) and (max-width: 975px) {
    width: 3em;
    top:0;left:auto;
    text-align: right;
    padding-right: 1em;
  }
}
.module_footer .more-link_text {
  display: inline;
  @media (min-width: 654px) and (max-width: 975px) {
    display: none;
  }
}

.module h3 a {
  color: $O22;
  text-decoration: none;
  transition: .3s all;

  .is-text-shown & {
    color: $O6;
    font-weight: 700;
  }
  @media (min-width: 654px) and (max-width: 975px) {
    color: $O6;
    font-weight: 700;
  }
}

.module_content > p a {
  // color: hsl(202, 70%, 45%);
  color: $O8;
  display: inline-block;
  // box-shadow: inset 0 -3px 0 hsla(202, 70%, 80%, 0);
  box-shadow: inset 0 -2px 0 $O19;
}

.module_content > p a:hover {
  // color: hsl(202, 70%, 40%);
  color: $O7;
  // box-shadow: inset 0 -3px 0 hsl(202, 70%, 80%);
  box-shadow: inset 0 -2px 0 $O18;
}

.module_content > h3 a:hover {
    color: $O20;
  @media (min-width: 654px) and (max-width: 975px) {
    color: $O8;
  }
}

// grid layout override in @supports feature test
@supports (display: grid) {
  .container-modules {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); // 20em = 320px
    grid-row-gap: 2vw;

    @media (min-width: 654px) and (max-width: 975px) {
      display: block;
      grid-template-columns: initial;
    }

  }

  .module {
    width: auto;

    @media (min-width: 654px) and (max-width: 975px) {
      width: 100%;
    }
  }
}
// end of modules

// grid-toggle button
// .grid-toggle {
//   margin-left: 1em;
//   padding:  .75em 1.5em;
//   background-color:  #333;
//   color:  #fff;
//   border: none;
//   border-radius:  1em;
//   letter-spacing: .5px;
//   word-spacing: -.5px;
//   outline: none;
// }
// .grid-toggle:hover {
//   cursor: pointer;
// }
//
// .is-grid-toggled .container {
//   // background: url(grid-unit_128x128.svg) 0 16px;
//   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128px' height='128px' viewBox='0 0 128 128'%3E%3Crect fill='rgb(255,255,255)' opacity='0.5' width='64' height='64'/%3E%3Crect fill='rgb(255,255,255)' opacity='0.5' width='64' height='64' x='64' y='64'/%3E%3Cpath fill='rgb(128,208,255)' d='M128,1V0H1H0v1v127h1V97h31v31h1V97h31v31h1V97h31v31h1V97h31v-1H97V65h31v-1H97V33h31v-1H97V1H128z M32,96H1V65h31V96z M32,64H1V33h31V64z M32,32H1V1h31V32z M64,96H33V65h31V96z M64,64H33V33h31V64z M64,32H33V1h31V32z M96,96H65 V65h31V96z M96,64H65V33h31V64z M96,32H65V1h31V32z'/%3E%3C/svg%3E") 0 16px;
// }
//
// .is-grid-toggled *  {
//   // outline:  1px dotted salmon;
//   // opacity: .85;
// }
//
// .grid-toggle .grid-hide, .grid-toggle-active .grid-show {
//   display: none;
// }
//
// .grid-toggle-active .grid-hide {
//   display: inline-block;
// }
// end grid-toggle button

// general styling
*,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
 }

 html {
   font-size: 16px;
 }

 body {
   font: 100%/1.5 BlinkMacSystemFont, -apple-system, "Segoe UI", Tahoma, sans-serif;
   box-sizing: border-box;
   // color: hsl(202, 20%, 10%);
   color: $o2;
 }

 .wf-active body {
   font-family: 'PT Sans Narrow', BlinkMacSystemFont, -apple-system, "Segoe UI", Tahoma, sans-serif;
 }

 img {
   max-width: 100%;
 }

 a {
   transition: all .3s;
 }

 .page {
   min-height: 100vh;
   text-align: center; // center the inline-block modules
 }

 .page-header {
   min-height: 4rem;
   padding-top: 4rem;
   // text-align: left;
   // SVG generated backgrounnd-pattern: https://codepen.io/atelierbram/pen/WOvWGq

   // @media (min-width: 654px) {
   text-align: center;
   // background-image: url(../img/svg/header-logo_648x96.min.svg), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwaW5zdHJpcGUiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgyMSkiPjxsaW5lIHgxPSIyIiB5PSIwIiB4Mj0iMiIgeTI9IjQiIHN0cm9rZT0iIzliOWI5NyIgc3Ryb2tlLXdpZHRoPSIyIiAvPjwvcGF0dGVybj48L2RlZnM+PHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwaW5zdHJpcGUpIiAvPjwvc3ZnPg==");
   // background-color: #ccc;

   .is-loaded & {
     // background-image: url(../img/svg/header-logo_313x60.svg);
     background-image: url(../img/svg/header-logo-v2_313x60.svg),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='660' height='144' viewBox='0 0 660 144'%3E%3Cpolygon points='660 0 280 0 190 144 660 144' fill='%23a0abba'/%3E%3C/svg%3E");
     // background-repeat: no-repeat, repeat;
     background-repeat: no-repeat;
     // background-position: left center, 0 0;
     background-position: center center, -2rem center;

     @media (min-width: 654px) {
       min-height: 96px;
       // padding-top: 9em;
       background-image: url(../img/svg/header-logo-v2_313x60.svg),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='999999' height='96' viewBox='0 0 999999 96'%3E%3Cpolygon points='999999 0 230 0 175 96 999999 96' fill='%23a0abba'/%3E%3C/svg%3E");
       background-position: 1em center, 0 center;
     }
   }
   // }

   @media (min-width: 654px) {
     padding-top: 0;
   }
 }

 // .page-header h1 {
 // font-size: 2em;
 // padding-top: .5em;
 // padding-top: 3em;
 // padding-left: 1em;
 // color: #fff;
 // letter-spacing: 1px;
 // font-weight: 400;
 // text-transform: uppercase;
 // text-align: center;

 // @media (min-width: 654px) {
 //   font: 0/0 n;
 //   border: 0;
 //   clip: rect(0 0 0 0);
 //   clip-path: inset(50%);
 //   height: 1px;
 //   margin: -1px;
 //   overflow: hidden;
 //   padding: 0;
 //   position: absolute;
 //   width: 1px;
 //   white-space: nowrap;
 // }
 // }

 // .page-header, .page-footer {
 .page-header {
   // background-color: hsl(202, 10%, 55%);
   // background-color: hsl(60, 2%, 40%);
   background-color: $O22;
 }

 .page-footer {
   background-color: $o11;
 }

 main {
   // background: hsl(202, 64%, 88%) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128px' height='128px' viewBox='0 0 128 128'%3E%3Crect fill='rgb(255,255,255)' opacity='0.5' width='64' height='64'/%3E%3Crect fill='rgb(255,255,255)' opacity='0.5' width='64' height='64' x='64' y='64'/%3E%3Cpath fill='rgb(128,208,255)' d='M128,1V0H1H0v1v127h1V97h31v31h1V97h31v31h1V97h31v31h1V97h31v-1H97V65h31v-1H97V33h31v-1H97V1H128z M32,96H1V65h31V96z M32,64H1V33h31V64z M32,32H1V1h31V32z M64,96H33V65h31V96z M64,64H33V33h31V64z M64,32H33V1h31V32z M96,96H65 V65h31V96z M96,64H65V33h31V64z M96,32H65V1h31V32z'/%3E%3C/svg%3E") 0 32px;
   // background-color: $o22;
   background-color: $o2;
   min-height: calc(100vh - 144px); // sticky-footer
   padding: 2em;

   @media (max-width: 654px) {
     position: relative;
     padding-top: 6rem;
   }
 }

 .page-footer {
   text-align: center;
   min-height: 48px;
   padding-top: .5em;
 }

 .page-footer .colophon {
   list-style: none;
   display: flex;
   justify-content: center;
 }

 .page-footer .colophon li:after {
   content: "\B7";
   // color: hsl(55, 100%, 60%);
   color: $D21;
   // text-shadow: 1px 1px 0 hsla(202, 64%, 10%, .6);
   text-shadow: 1px 1px 0 rgba($o2, .6);
 }

 .page-footer .colophon li:last-of-type:after {
   content: "";
 }

 .page-footer .colophon li a {
   padding: .25em;
   text-decoration: none;
   // color: hsl(55, 100%, 85%);
   color: $D22;
   letter-spacing: .5px;
   // text-shadow: 1px 1px 0 hsla(202, 64%, 10%, .6);
   text-shadow: 1px 1px 0 rgba($o2, .6);
   // box-shadow: inset 0 -3px 0 hsla(55, 100%, 43%, 0);
   box-shadow: inset 0 -3px 0 rgba($D20, 0);

   &:hover {
     // color: hsl(55, 100%, 53%);
     color: $D23;
     // box-shadow: inset 0 -3px 0 hsl(55, 100%, 43%);
     box-shadow: inset 0 -3px 0 $D20;
   }

 }

 .screen-reader-text {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
   white-space: nowrap;
 }

 @supports (font-variant-caps:  small-caps) {
   .small-caps {
     text-transform: lowercase;
     font-variant-caps: small-caps;
   }
 }
